/.vscode
/1.exe
/arr-1.exe
/arr-2.c
/arr-2.exe
/arr-3.c
/arr-3.exe
/arr-4.c
/arr-4.exe
/arr-5.c
/arr-5.exe
/arr-6.c
/arr-6.exe
/arr-7.c
/arr-7.exe
/function-1.c
/function-1.exe
/function-2.c
/function-2.exe
/function-3.c
/function-3.exe
/test.c
/test.exe
/while -4.c.c